{% extends 'base.html' %}
{% load static %}
{% block title %} Listado de Monedas {% endblock %}

{% block moneys_active %} active {% endblock %}

{% block head %}
      <script src="{% static 'js/fa.js' %}"></script>

{% endblock%}
{%block section%}
  <section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Monedas</li>
      </ol>
  </section>
  <br>
  <section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Monedas</h3>
        </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-9">
            <div class="table-responsive">
          <table id="moneys" class="table table-striped table-hover table-condensed display responsive" cellspacing="0" width="100%">
            <thead >
              <tr class="info">               
                <th>Nombre</th>
                <th>Símbolo</th>
              </tr>
            </thead>
          </table>
            </div>
          </div>
  	  </div>
    </section>
{% endblock %}

{% block javascript %}
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/css/uikit.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/css/dataTables.uikit.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">

  <script type="text/javascript" src="{% static 'datatables/js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'datatables/js/dataTables.uikit.min.js' %}"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>


  <script type="text/javascript">

    //var csrftoken = "{{ csrf_token }}"
    $(document).ready(function(){
      var table = $('#moneys').dataTable({
      "destroy": true,
      "scrollCollapse": true,
      "responsive":true,
      "bProcessing": true,
      "sAjaxSource": "{% url 'money:moneys_datatables_list' %}",
      "bServerSide": true,
      "bFilter": true,
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "select": true,
      "language":{
          "decimal":        "",
          "emptyTable":     "Sin datos para mostrar",
          "info":           "",
          "infoEmpty":      "",
          "infoFiltered":   "(filtrado desde _MAX_ filas)",
          "infoPostFix":    "",
          "thousands":      ",",
          "lengthMenu":     "Mostrar _MENU_ filas",
          "faceoadingRecords": "Cargando...",
          "processing":     "Procesando...",
          "search":         "Buscar: ",
          "zeroRecords":    "0 resultados",
          "paginate": {
              "first":      "Primero",
              "last":       "Ultimo",
              "next":       "Siguiente",
              "previous":   "Anterior"
            },
            "aria": {
              "sortAscending":  ": activate to sort column ascending",
              "sortDescending": ": activate to sort column descending"
            },       
        },
        "aoColumns": [
          null,
          null,
          //{ "bSortable": false }
        ],          
    });

    })
    
  </script>
{% endblock %}