.dt-button {
    background: #00838f !important;
    border: #00838f !important;
    color: #fff !important;
    text-decoration: none;
}

.installment-group {
  overflow-y: scroll;
  overflow-x: hidden;
}

.overflow {
  overflow-y: scroll !important;
}

.centered {
  text-align: center !important;
}

.add-installment {
  margin-top: 1em;
  margin-bottom: 2em;
}

.label-installment {
  margin-left: 1em;
}

.installment-group {
  margin-bottom: 2em;
}

th.dt-center, td.dt-center { text-align: center; }

.export-pdf {
  position: absolute;
  right: -10em;
  top: 0.7em;
  display: none;
}

.previous {
	margin-right: 1em;
}

.next {
	margin-left: 1em;
}

.center {
	text-align: center;
}

.select2-container--default .select2-selection--single{
	border-color: rgb(154,202,60) !important;	
}

.select2-dropdown{
	border-color: rgb(154,202,60) !important;	
}

.form-control-custom{
	border-color: rgb(154,202,60) !important;
	border-radius: 5px !important;
}

.form-control-custom2{
	border-color: rgb(154,202,60) !important;
}

.icon-custom{
	border-color: rgb(154,202,60) !important;
}

.select2-container--default .select2-selection--multiple{
	border-color: rgb(154,202,60) !important;	
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color: #0073B7 !important;
	font-weight: 600;			
}



/* loader checkmark */


.circle-loader {
  display: none;
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  vertical-align: top;
}

.circle-loader,
.circle-loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  opacity: 1;
  height: 4em;
  width: 2em;
  transform-origin: left top;
  border-right: 2px solid #5cb85c;
  border-top: 2px solid #5cb85c;
  content: '';
  left: 2em;
  top: 4em;
  position: absolute;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 2em;
    opacity: 1;
  }
  40% {
    height: 4em;
    width: 2em;
    opacity: 1;
  }
  100% {
    height: 4em;
    width: 2em;
    opacity: 1;
  }
}

/* Login */


