<!DOCTYPE HTML>
<HTML lang='es'>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Material Design fonts -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'dist/css/fonts.css' %}" type="text/css">
    <link href="{% static 'dist/css/material_font.css' %}" rel="stylesheet">
    <!-- Bootstrap -->
    <!--<link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">-->
    
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{% static 'lte/bootstrap_lte/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <!-- <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> -->
    <!-- Theme style -->
    
    <link rel="stylesheet" href="{% static 'lte/dist/css/infopool.min.css' %}">  
  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- jQuery 2.1.4 -->
    <script src="{% static 'lte/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{% static 'lte/bootstrap_lte/js/bootstrap.min.js' %}"></script>
  
    <link rel="stylesheet" href="{% static 'lte/bootstrap_lte/css/bootstrap-dialog.min.css' %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>

    <script src="{% static 'lte/js/mousetrap.js' %}"></script>
    <script src="{% static 'lte/js/mousetrap.min.js' %}"></script>

    <title>
      {% block title %}{% endblock %}
    </title>
    
    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  </head>
	
  <body id ="body" class="hold-transition skin-blue sidebar-mini fixed " style="font-family: 'Open Sans', sans-serif;">			

      <div class="wrapper">
        
        <header class="main-header" >
          <!-- Logo -->
          <a href="#" class="logo" >
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>R</b>P</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Ripio</b></span>
          </a>
          <!-- Header Navbar: style can be found in header.less -->
          <nav class="navbar navbar-static-top" role="navigation" >
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"   id="sidebar-toggle">
              <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                  {% include 'user.html' %}
                </ul>
              </div>
          </nav>
        </header>

        <aside class="main-sidebar" >

          <section class="sidebar" >

            <ul class="sidebar-menu">
              
                <li class="header">Menú Principal</li>
                  {#% if user_permissions %#}

                    <li {% block moneys_active %}{% endblock %}>
                        <a href="{#% url 'money:' %#}" id="money"><i class="fa fa-money "></i><span>Monedas</span></a>
                    </li>
                    <li {% block wallets_active %}{% endblock %}>
                        <a href="{#% url 'moneys:' %#}" id="wallets"><i class="fa fa-shopping-bag"></i><span>Billeteras</span></a>
                    </li>

                  {#% else %#}
                    <!--
                    <li  {% block wallets_user_active %}{% endblock %}>
                        <a href="{#% url 'moneys:' %#}" id="wallets"><i class="fa fa-address-book"></i><span>Billeteras</span></a>
                    </li>-->
                    <li  {% block send_money_active %}{% endblock %}>
                        <a href="{#% url 'budgets:budget-list' %#}" id="wallets"><i class="fa fa-exchange"></i><span>Enviar Dinero</span></a>
                    </li>

                  {#% endif %#}

            </ul>
          </section>

        </aside>

        <div class="content-wrapper">
            {%block section%}
            {%endblock%}
          
        </div><!-- /.content-wrapper -->
              
      </div><!-- ./wrapper -->

        
      <!-- SlimScroll -->
      <script src="{% static 'lte/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
      <!-- FastClick -->
      <script src="{% static 'lte/plugins/fastclick/fastclick.min.js' %}"></script>
      <!-- AdminLTE App -->
      <script src="{% static 'lte/dist/js/app.min.js' %}"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
      <script src="{% static 'js/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

      <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
      </script>
      {% block javascript %}
      {% endblock %}
  </body>
</HTML>
		   
        




			

											

							

		
		
		
	

