{% load static %}
<li class="dropdown user user-menu">

  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <img src="{% static 'dist/img/generic.png' %}" class="user-image" alt="User Image">
    <span class="hidden-xs">Hola {{user.first_name}}</span>
  </a>
  <ul class="dropdown-menu">
    <!-- User image -->
    <li class="user-header">
      <img src="{% static 'dist/img/generic.png' %}" class="img-circle" alt="User Image">
      <p>
        {{user.first_name}} {{user.last_name}}
        <small>Eres miembro desde el {{user.date_joined | date:"d/m/Y"}}</small>
      </p>
    </li>
    
    <!-- Menu Footer-->
    <li class="user-footer">
      <div class="pull-left">
        <a href="{#% url 'login:profile'%#}" class="btn btn-info btn-flat">Perfil</a>
      </div>
      <div class="pull-right">
        <a href="{#% url 'login:panel-logout'%#}" class="btn btn-danger btn-flat">Cerrar Sesión</a>
      </div>
    </li>
  </ul>
 
</li>